.Contact {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
  }

.Main {
    border: black;
    border-bottom-width: 0.0001em;
    border-bottom-style: solid;
    height: 70%;
    width: 100%;
}

.Info {
    align-items: center;
}